<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/index">Volunteer Connect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar" class="d-flex align-items-center w-100 navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#/home">Home</a>
                </li>
                <li class="nav-item">
                    <a id="opportunitiesNavItem" class="nav-link" href="#/opportunities">Opportunities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/contacts">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a id="login" class="nav-link" href="#/login"> Login</a>
                </li>
                <li id="moreNavItem" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      More
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#/gallery">Gallery</a></li>
                      <li><a class="dropdown-item" href="#/privacy-policy">Privacy Policy</a></li>
                      <li><a class="dropdown-item" href="#/terms-of-service">Terms of Service</a></li>
                      <li><a class="dropdown-item" href="#/news">News</a></li>
                    </ul>
                </li>
                <li id="userNavItem" class="d-none nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#/events-planning">Event Planning</a></li>
                        <li><a class="dropdown-item" href="#/statistics">Statistics</a></li>
                    </ul>
                </li>

                <li id="globalSearchArea" class="d-none d-flex flex-grow-1 justify-content-end">
                    <div class="generic-searchbar">
                        <i class="fa-solid fa-magnifying-glass me-2"></i>
                        <label>
                            <input id="globalSearchInput" class="no-colour " type="text" placeholder="Search for anything..."/>
                        </label>
                        <div class="d-flex w-100 justify-content-end">
                            <button id="btnGlobalSearch" class="btn btn-success btn-sm" type="button">Search</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>