<!--
* Authors: Brady Inglis, Nick Coffin
* Brady Inglis Student ID: 100926284
* Nick Coffin Student ID: 100555045
 -->
    <div class="pt-5 d-flex flex-column justify-content-center align-items-center">
        <h1>Support the cause</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="generic-message-container">
            <p >
                To donate and support the operation of Volunteer Connect, please fill out the form below. Our
                automated system will forward to you email address instructions on how to donate.
            </p>
        </div>
        <form class="col-lg-6 col-md-10 col-sm-12 mb-4">

            <div class="input-group mb-3">
                <span class="input-group-text">Full Name</span>
                <input id="fullName" name="fullName" type="text" class="form-control" aria-describedby="Full Name" aria-label="Full Name" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Email Address</span>
                <input id="emailAddress" name="emailAddress" type="email" class="form-control" aria-describedby="Email Address" aria-label="Email Address" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Donation Amount</span>
                <input id="subject" name="subject" type="text" class="form-control" aria-describedby="Contact Number" aria-label="Contact Number" required>
            </div>


            <button id="sendButton" name="sendButton" type="submit" class="btn btn-primary">Submit</button>
            <button id="cancelButton" name="cancelButton" type="reset" class="btn btn-warning">Cancel</button>
        </form>
    </div>
