
<!-- CSS Section -->
<link rel="stylesheet" href="../content/news/news.css">

<!-- Search Area -->
<div class="d-flex flex-column align-items-center mt-5">
    <h1>
        VC Community News
    </h1>
    <div class="news-searchbar">
        <i class="fa-solid fa-magnifying-glass d-flex align-items-center"></i>
        <input id="newsQuery" class="search-input" type="text" placeholder="Search local news..."/>
    </div>
</div>

<!-- News/results area -->
<div id="newsResults" class="news-container mt-5">
</div>


