<div class="pt-5 d-flex flex-column justify-content-center align-items-center">
    <h1>
        Site Statistics
    </h1>
    <div>
        <p class="text-center">
            All verified users of Volunteer Connect are welcome to view our weekly statistics! If you'd like to provide
            any feedback as to how we can improve site statistics, <a href="#/contacts">please share your feedback here.</a>
        </p>
        <canvas class="mt-5" id="statsChart" width="400" height="200"></canvas>
    </div>
</div>

